<div class="container">
  <div class="icon setting-title">
    <iconify-icon icon="keyframes" />
    <p><b>Whitelisted Directories</b>:</p>
  </div>

  <p class="description">
    If any directories or drives are present here, the program will opt to ONLY
    index subdirectories of these.
  </p>
  <div class="include-dirs-container">
    <div class="top-box">
      <div *ngIf="directoryNamesToInclude$ | async as directoryNamesToInclude">
        <div *ngFor="let dir of directoryNamesToInclude" class="item">
          <div class="icon">
            <iconify-icon
              icon="drive"
              *ngIf="isDiskDrive(dir); else directoryIcon"
            />
            <p>{{ dir }}</p>
          </div>
          <button class="trash-button" (click)="removeDirectory(dir)">
            <iconify-icon icon="trash" />
          </button>
        </div>
      </div>

      <div
        *ngFor="let pendingDir of _pendingDirectoriesToAdd; let i = index"
        class="item"
      >
        <div class="icon">
          <iconify-icon
            icon="drive"
            *ngIf="isDiskDrive(pendingDir.value); else directoryIcon"
          />
          <input
            type="text"
            [formControl]="pendingDir"
            class="directory-input"
            #directoryInput
            (blur)="onInputBlur(pendingDir)"
            (keydown)="onInputKeydown($event, pendingDir)"
          />
        </div>
      </div>
    </div>
    <div class="options" (click)="addPendingDirectory()">
      <app-button-w-icon iconName="plus"> Add Directory </app-button-w-icon>
    </div>
  </div>
</div>

<ng-template #directoryIcon>
  <iconify-icon icon="folder" />
</ng-template>
